*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: silver;
}

.main-page {
    position: relative;
    /* display: flex; */
    /*flex-wrap: wrap;*/
}

.fa-motorcycle {
    position: absolute;
    top: 19px;
    left: 40px;
    font-size: 25px;
}

.DMS {
    position: absolute;
    left: 80px;
    top: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
}

.bike-man {
    position: absolute;
    left: 250px;
    top: 120px;
}

.let {
    position: absolute;
    /* height: 104px; */
    top: 250px;
    right: 58%;
    left: 7%;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    text-align: center;

    /* Colors / Black / 100% */
    color: #000000;
}

.logistics {
    position: absolute;
    /* height: 104px; */
    top: 380px;
    right: 58%;
    left: 7%;

    font-family: 'DM Sans';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 18px;
    /* line-height: 52px; */
    text-align: center;

    /* Colors / Black / 100% */
    color: #000000;

}

.get-started {
    position: absolute;
    width: 126px;
    height: 44px;
    left: 250px;
    top: 500px;

    background-color: #06b;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 10px;

}

.form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 30px;
    gap: 20px;
    
    position: absolute;
    width: 512px;
    height: 650px;
    left: 774px;
    top: 50px;
    
    background: white;
    border-color: #06b;
    border-radius: 20px;
}

/* H2 - Header 2 - 28pt Black Roboto */
.basic-info{
/* width: 237px;
height: 36px; */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 36px;

color: #393939;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.enter{
width: 206px;
height: 16px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: black;

/* Inside auto layout */
/* flex: none;
order: 1;
flex-grow: 0; */
}

.form-main{
    display: flex;
    flex-wrap: wrap;
}

.form-fill{
display: flex;
flex-direction: column;
/* flex-wrap: wrap; */
/* align-items: flex-start; */
padding: 10px;
gap: 20px;
width: 100%;

position: absolute;
/*left: 0%;
right: 50%;
top: 150px;
top: 25%;
bottom: 50.12%;
bottom: 80%; */

/* background: #FFFFFF; */
/* box-sizing: border-box; */
border: 1px solid #E2E2EA;
border-radius: 10px;
}

input{
    border-radius: 7px;
    height: 40px;
    padding-left: 3px;
    border: 1px solid #E2E2EA;
}

.name{
    display: flex;
    flex-direction: row;  
    gap: 5px;
}

#click{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

#sign {
    position: absolute;
    left: 30px;
    top: 580px;
}

.register {
    position: absolute;
    width: 126px;
    height: 44px;
    right: 30px;
    top: 570px;

    background-color: #06b;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}